.icon-mail{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  color: #ccc;
  font-size: 20px;
}
.icon-facebook{
  font-size: 26px;
  color: #fff;
  background: #385185;
}
