* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

* {
  font-size: inherit;
  line-height: inherit;
}

* ,::before, ::after{
  border-style: solid;
  border-width: 0;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::before, ::after{
  text-decoration: inherit;
  vertical-align: inherit;
}

.far.fa-chevron-right::before{
  content: '\e005';
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
}

a {
  color: #0099e8;
  text-decoration: none;
}

header {
  display: block;
}

nav {
  display: block;
  ul {
    list-style: none;
  }
  ol {
    list-style: none;
  }
}

label {
  display: inline-block;
}

.text-right{
  text-align: right;
}

.clearfix{
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}
